{% extends "base.html" %}
{% block addcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'loginstyles.css' %}">
{% endblock addcss %}
{% block body %}
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script> 
<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script>
  {% for message in messages  %}
// <!-- swal("Hello world!"); -->
// <!-- <script>swal({{message}});</script>
<!-- swal('{{message}}'); -->
<!-- swal('{{message}}', "Try Again"); -->
swal("Oops!", '{{message}}', "error");  

{% endfor %}
</script>
<br><br><br>
  <div class="login-card">
    <h1>Log-in</h1><br>
  <form action="login" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="text" name="password" placeholder="Password" required><br>
    
    <input type="submit" name="login" class="login login-submit" value="login">


    </form>

  <div class="login-help">
    <a href="/register">Register</a>
  </div>
</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>
 {%endblock body %}